@font-face {
	font-family: "fontspring_bold";
	src: url(../../static/assets/fonts/fontspring/Fontspring-DEMO-visbycf-bold.otf) format("opentype");
}
@font-face {
	font-family: "fontspring_demibold";
	src: url(../../static/assets/fonts/fontspring/Fontspring-DEMO-visbycf-demibold.otf) format("opentype");
}
@font-face {
	font-family: "fontspring_extrabold";
	src: url(../../static/assets/fonts/fontspring/Fontspring-DEMO-visbycf-extrabold.otf) format("opentype");
}
@font-face {
	font-family: "stolzl_book";
	src: url(../../static/assets/fonts/stolzl/Stolzl_Book.ttf) format("opentype");
}

$widthMenuToggle: clamp(0.5rem, 0.5rem + 5vw, 2rem);

//color

$buttonWidth: 30px;
$buttonHeight: 26px;
$lineThickness: 4px;
$transitionSpeed: 0.25s;
$transitionEasing: ease-in-out;

// $blackcolor: #242424;
$blackcolor: #242424;
$purple: #9ba2ff;
$white: #f6f6f6;

//font-family
$book: stolzl_book;
$bold: fontspring_bold;
$demibold: fontspring_demibold;
$extrabold: fontspring_extrabold;

//boolean
$ispurple: true;
