@import "./_variables.scss";
@import "./_mixins.scss";
@import "./_placeholders.scss";

// @font-face {
// 	font-family: "Heatar";
// 	src: url(../../static/assets/fonts/Heaters.woff2) format("opentype");
// }

@font-face {
	font-family: "quanta-regular";
	src: url(../../static/assets/fonts/Web-PS/QuantaGroteskPro-Regular.woff2) format("opentype");
}
@font-face {
	font-family: "quanta-semi";
	src: url(../../static/assets/fonts/Web-PS/QuantaGroteskPro-SemiBold.woff2) format("opentype");
}
@font-face {
	font-family: "agrandir-regular";
	src: url(../../static/assets/fonts/Agrandir-Regular.otf) format("opentype");
}

* {
	margin: 0;
	padding: 0;
}

#webgl {
	position: absolute;
	left: 15vw;
	// right: 75%;
	// width: 80vw;
	// height: 50px;
	border: 2px solid white;
	// outline: none;
}
.sphere {
	// mix-blend-mode: exclusion;
	position: absolute;
	border: 2px solid white;
	top: 0;
	left: 72vw;

	// border: 2px solid white;
	z-index: -1;
}
html {
	font-size: 14px;
}

body {
	// font-size: 14px;
	// width: 100%;
	// -webkit-font-smoothing: none;
	// -moz-osx-font-smoothing: none;
	// -moz-font-feature-settings: "liga=0";
	// text-rendering: optimizeLegibility;
	background-color: $blackcolor;
	background-image: linear-gradient(to right, #353535 3px, transparent 3px), linear-gradient(to bottom, #353535 3px, transparent 3px);
	background-size: 100px 100px;
	// background-color: $blackcolor;
	overflow-x: hidden;
}
.title_name {
	color: white;
	text-transform: uppercase;
	text-decoration: none;
	//font-family: "Carlito", sans-serif;
	font-family: "quanta-regular";
	letter-spacing: 0.05em;
	font-weight: 700;
	font-size: 2rem;
	mix-blend-mode: difference;
}
nav {
	margin: 2vh 10vw;
	@include flexbox(space-between, center);
}

.button_contact {
	@extend %button_with_border;
}

.text_difference_in_button_contact {
	@extend %text_button_with_border;
}
.section_1 {
	@extend %flex-center;
	color: white;
	width: 100vw;
	height: 100vh;
	font-family: "Carlito";
}
.principal_container {
	display: flex;
	height: 50vh;
	margin: 0 10vw;
}
.left-in-section-1 {
	flex: 1;
	margin: 2vh 5vw;
	@include flexbox(center, start);
	flex-direction: column;
	h1 {
		mix-blend-mode: difference;
		font-size: 2rem;
		text-align: start;
		@include flexbox(start, start);
	}
}

.right-in-section-1 {
	flex: 1;
}
.title-in-left-section-1 {
	padding: 2vh 0;
	color: white;
	font-weight: 400;
	text-align: justify;
	line-height: 100%;
}
.button-decouverte {
	// margin-top: 2vh;
	// position: relative;
	// aspect-ratio: 3/1;
	// @extend %flex-center;
	// width: 10vw;
	// border: 1px solid white;
	// /* background-color: rgb(10, 192, 80); */
	// background-color: white;
	// color: $blackcolor;
	// font-size: 1.5em;
	// border-radius: 50px;
	// transition: all 0.5s;
	// mix-blend-mode: difference;
	// margin-top: 15px;
	@extend %button_with_border;
}

.text_difference_in_button_decouverte {
	// margin: 50px;
	@extend %text_button_with_border;
}
// .button-decouverte::before {
// 	transition: all 0.7s;
// 	content: "";
// 	@extend %absolute-0;
// 	background-color: white;
// 	width: 0%;
// 	height: 100%;
// 	z-index: -1;
// 	border-radius: 50px;
// }
// .button-decouverte:hover::before {
// 	width: 100%;
// 	box-shadow: 0px 1px 1px red, 0px 2px 4px red, 0px 4px 8px red, 0px 8px 16px red;
// }

.photo_pro {
	height: 100%;
	object-fit: cover;
	border-radius: 20px;
	box-shadow: 0px 1px 2px red, 0px 2px 4px red, 0px 4px 8px red, 0px 8px 16px red;
}
.word_automate_status {
	margin-left: 8px;
	color: red;
	// text-shadow: 0px 1px 2px red, 0px 2px 4px red, 0px 4px 8px red, 0px 8px 16px red;
}

.animation_iframe {
	position: absolute;
	bottom: 10vh;
	border: none;
}
.section_0 {
	// @extend %flex-center;

	@include flexbox(start, center);
	padding-left: 10vw;
	height: 91vh;
	h1 {
		// text-transform: uppercase;
		font-size: 4rem;
		// margin-bottom: 8vh;
		color: white;
		font-family: "Carlito", sans-serif;
		font-weight: 700;
	}

	.title {
		position: relative;
		// top: 300px;
		display: flex;
		flex-direction: column;
		align-items: star;
		h1 {
			font-family: "quanta-semi";

			// text-transform: uppercase;
			font-size: 15rem;
		}
		h2 {
			position: absolute;
			margin-left: 4%;
			// position: absolute;
			// top: 50;
			top: 45%;
			// left: 0;

			font-family: "quanta-semi";
			font-size: 15rem;
			color: $purple;
		}
	}
}
.inferieur_title {
	display: flex;
	align-self: flex-start;
	font-family: "agrandir-regular";
	font-size: 2rem;
	color: white;
	padding-top: 15vh;
}
.contain_name_title {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.section_2 {
	position: relative;
	@extend %flex-center;
	height: 100vh;
	width: 100vw;
}

@media (max-width: 768px) {
	html {
		font-size: 5px;
	}
}
